body {
    background-color:black;
    border-color: red;

  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 48px;
    font-family:verdana ;
  }
  h2 {
    color: white;
    
    font-size: 28px;
    font-family:verdana ;
  }
  
  p {
    font-family: verdana;
    font-size: 15px;
    color: white;
  }
  .a {
    font-style: italic;}