header
    {margin-bottom: 3rem;}
p 
    {line-height: 1.6;}
.see-all
    {font-size: .8em;
    text-transform: uppercase;}
li.selected a
    {font-weight: bold;
        color: black;}
h1
    {font-size: 2.5rem;
    font-weight: lighter;}
 h2
    { text-transform: uppercase;
    font-weight: lighter;
    font-size: 1rem;}
.cast img
    {width: 100%;}
.cast li
    {width: 25%;
    font-size: .8rem;}
.cast li div:first-of-type{font-weight: bold ;}
.cast li div:last-of-type{font-style: italic; ;}
.shows h1
    {border-top: black;
    border-top: 1pt;
    border-top: solid;}
element.selected
    {font-weight: bold;
    color: black;}
section.seasons ul li:last-child::after {
        content: "*";}
section.synopsis::before {
            color: #999;
            content: "* Final Season";
            font-size: 0.7rem;}

 